services:
  - type: web
    name: telegram-bot
    env: python
    buildCommand: pip install -r requirements.txt
    startCommand: gunicorn app:app
    envVars:
      - key: TELEGRAM_BOT_TOKEN
        sync: false
      - key: CREATOR_ID
        sync: false
      - key: PORT
        value: 5000
      - key: PYTHON_VERSION
        value: 3.13.4
    healthCheckPath: /health
    autoDeploy: true
    plan: free